
body {
    font-family: Sans-Serifg;
    font-size: 16px;
}

img {
    float: left;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.3rem;
}

h1::first-letter{
    font-size: 250%;
}

h2 {
    color: orange;
    font-style: italic;
    font-size: 2.5rem;
    text-shadow:3px 3px  black;
    text-indent: 55px;
    /* line-height: 1.5; */
}

header h3 {
    text-indent: 140px;
}

h3 {
    font-size: 2rem;
}


li a, li a:visited {
    font-weight: bold;
    color: orange;
    text-decoration: none;
    line-height: 1.2;
}

li a:focus, 
li a:hover {
    color: green;
}

footer {
    font-size: .9rem;
    text-align: center;
}

